.aboutBackground {
    @include flex-center; // Centre le contenu avec Flexbox
    @include bkgrd($about-background-mobile); // Fond pour les écrans mobiles
    width: 100%; // Largeur complète du conteneur
    height: 223px; // Hauteur fixe
    margin-top: 20px; // Espace au-dessus

    @include small-radius; // Rayon de bordure pour les petits écrans

    @media screen and (min-width: $breakpoint-desktop) {
        @include bkgrd($about-background); // Fond pour les écrans de bureau
        @include big-radius; // Rayon de bordure pour les grands écrans
    }
}
