// Ddéfinir la position et la largeur d'un élément avec des valeurs prédéfinies
@mixin body-position {
    max-width: $wmax;
    min-width: $wmin;
    margin: auto;
}

// Appliquer une ombre portée à un élément
@mixin boxShadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 22px 6px;
}

// Définir la largeur et la hauteur à 100% d'un élément
@mixin WH-full {
    width: 100%;
    height: 100%;
}

// Appliquer une taille de police, un style et un poids à un élément avec alignement à droite
@mixin font-right($size) {
    font-size: $size;
    font-style: normal;
    font-weight: 500;
    text-align: right;
    line-height: 142.6%;
}

// Appliquer une taille de police, un style et un poids à un élément
@mixin font($size, $weight) {
    font-size: ($size);
    font-style: normal;
    font-weight: $weight;
    line-height: 142.6%;
}

// Appliquer un arrière-plan avec des propriétés de fond spécifiques
@mixin bkgrd($background) {
    background: $background;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
}

// Centrer les éléments dans un conteneur flex
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Disposer les éléments en colonne avec un centrage vertical
@mixin flex-column {
    diplay: flex;
    flex-direction: column;
    justify-content: center;
}

// Aligner les éléments à la fin du conteneur flex
@mixin flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

// Styliser un conteneur avec un arrière-plan et un centrage flex
@mixin flex-banner {
    position: relative;
    @include flex-center;
    width: 100%;
    @include bkgrd($banner-background);
    margin-top: 20px;
}

// Appliquer un rayon de bordure petit
@mixin small-radius {
    border-radius: 10px;
}

// Appliquer un rayon de bordure élevé
@mixin big-radius {
    border-radius: 25px;
}

// Styliser un bouton de flèche droite avec des propriétés responsives
@mixin rightArrow-style {
    display: flex;
    position: absolute;
    top: 47%;
    right: 2%;
    width: 12px;
    height: 20px;
    z-index: 10;
    cursor: pointer;

    @media screen and (min-width: $breakpoint-desktop) {
        width: 47px;
        height: 79px;
        top: 42%;
    }
}

// Styliser un bouton de flèche gauche avec des propriétés responsives
@mixin leftArrow-style {
    display: flex;
    position: absolute;
    top: 47%;
    left: 2%;
    width: 12px;
    height: 20px;
    z-index: 10;
    cursor: pointer;

    @media screen and (min-width: $breakpoint-desktop) {
        width: 47px;
        height: 79px;
        top: 42%;
    }
}