.card-logement {
    position: relative;
    display: flex;
    width: 335px;
    height: 255px;
    @include small-radius; // Assurez-vous que la mixin small-radius est définie quelque part
    min-width: 335px;
    transition: transform 1s, filter 0.3s;

    @media screen and (min-width: $breakpoint-desktop) {
        width: 340px;
        height: 340px;

        &:hover,
        &:focus {
            @include boxShadow; // Assurez-vous que la mixin boxShadow est définie quelque part
            filter: brightness(0.85); // Réduit la luminosité au survol
        }
    }

    & img {
        display: block; // 'block' est généralement plus approprié pour les images
        width: 100%;
        @include small-radius; // Assurez-vous que la mixin small-radius est définie quelque part
        object-fit: cover;
        transition: filter 0.3s;

        &:hover {
            filter: brightness(0.85); // Effet d'assombrissement de l'image au survol
        }
    }

    &__layer {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        background: $linear-cards; // Assurez-vous que la variable $linear-cards est définie
        @include WH-full; // Assurez-vous que la mixin WH-full est définie
        @include small-radius; // Assurez-vous que la mixin small-radius est définie
    }

    &__title {
        display: flex;
        align-items: flex-end;
        position: absolute;
        @include font(18px, 500); // Assurez-vous que la mixin font est définie
        color: #f1f1f1;
        left: 5.88%;
        right: 5.88%;
        top: 78.82%;
        bottom: 5.88%;
    }
}

.cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    @include small-radius; // Assurez-vous que la mixin small-radius est définie
    margin: 22px 0;
    flex-wrap: wrap;

    @media screen and (min-width: $breakpoint-desktop) {
        gap: 50px;
        padding: 5% 1%;
        background-color: #f7f7f7;
        @include big-radius; // Assurez-vous que la mixin big-radius est définie
        margin: 43px 0;
    }
}

.link_card_logement {
    text-decoration: none; // Assurez-vous que les liens n'ont pas de décoration
}
