.banner-container {
    height: 111px; // Hauteur pour petits écrans
    @include small-radius; // Rayon de bordure pour petits écrans
    @include flex-banner;

    @media screen and (min-width: $breakpoint-desktop) {
        height: 223px; // Hauteur pour grands écrans
        @include big-radius;
    }
}

// Texte de la bannière
.banner-text {
    position: absolute;
    top: 28.04%; left: 5.6%; right: 32.53%; bottom: 80.05%; // Positionnement du texte
    font-size: 24px; font-weight: 500;
    color: $tertiary-color;
    @include small-radius; // Rayon de bordure pour petits écrans
    width: 217px; height: 48px;

    @media screen and (min-width: $breakpoint-desktop) {
        top: 0; left: 0; right: 0; // Alignement du texte pour grands écrans
        @include flex-center; // Centrage du texte
        @include WH-full;
        @include font(48px, 500); 
        @include big-radius; // Rayon de bordure pour grands écrans
    }
}
